In [204]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, count, isnull

In [205]:
#Creamos sesion
spark = SparkSession.builder.appName("practica").getOrCreate()

In [206]:
#se ha creado bien
spark

In [207]:
#Abrimos DF
#NOTA IMPORTANTE, ESTE ARCHIVO PESABA MAS DE 100MB, es posible que no se pueda subir el original usado.
df_train = spark.read.csv("../data/raw/train.csv", header=True, inferSchema=True)

In [208]:
#Se ve correcta.
df_train.show()

+---+----------+---------+-------------------+-----+-----------+
| id|      date|store_nbr|             family|sales|onpromotion|
+---+----------+---------+-------------------+-----+-----------+
|  0|2013-01-01|        1|         AUTOMOTIVE|  0.0|          0|
|  1|2013-01-01|        1|          BABY CARE|  0.0|          0|
|  2|2013-01-01|        1|             BEAUTY|  0.0|          0|
|  3|2013-01-01|        1|          BEVERAGES|  0.0|          0|
|  4|2013-01-01|        1|              BOOKS|  0.0|          0|
|  5|2013-01-01|        1|       BREAD/BAKERY|  0.0|          0|
|  6|2013-01-01|        1|        CELEBRATION|  0.0|          0|
|  7|2013-01-01|        1|           CLEANING|  0.0|          0|
|  8|2013-01-01|        1|              DAIRY|  0.0|          0|
|  9|2013-01-01|        1|               DELI|  0.0|          0|
| 10|2013-01-01|        1|               EGGS|  0.0|          0|
| 11|2013-01-01|        1|       FROZEN FOODS|  0.0|          0|
| 12|2013-01-01|        1|          GROCERY I|  0.0|          0|
| 13|2013-01-01|        1|         GROCERY II|  0.0|          0|
| 14|2013-01-01|        1|           HARDWARE|  0.0|          0|
| 15|2013-01-01|        1| HOME AND KITCHEN I|  0.0|          0|
| 16|2013-01-01|        1|HOME AND KITCHEN II|  0.0|          0|
| 17|2013-01-01|        1|    HOME APPLIANCES|  0.0|          0|
| 18|2013-01-01|        1|          HOME CARE|  0.0|          0|
| 19|2013-01-01|        1|         LADIESWEAR|  0.0|          0|
+---+----------+---------+-------------------+-----+-----------+
only showing top 20 rows

In [209]:
spark.read.option("header", "true").csv("../data/raw/test.csv").show()

+-------+----------+---------+-------------------+-----------+
|     id|      date|store_nbr|             family|onpromotion|
+-------+----------+---------+-------------------+-----------+
|3000888|2017-08-16|        1|         AUTOMOTIVE|          0|
|3000889|2017-08-16|        1|          BABY CARE|          0|
|3000890|2017-08-16|        1|             BEAUTY|          2|
|3000891|2017-08-16|        1|          BEVERAGES|         20|
|3000892|2017-08-16|        1|              BOOKS|          0|
|3000893|2017-08-16|        1|       BREAD/BAKERY|         12|
|3000894|2017-08-16|        1|        CELEBRATION|          0|
|3000895|2017-08-16|        1|           CLEANING|         25|
|3000896|2017-08-16|        1|              DAIRY|         45|
|3000897|2017-08-16|        1|               DELI|         18|
|3000898|2017-08-16|        1|               EGGS|          1|
|3000899|2017-08-16|        1|       FROZEN FOODS|          1|
|3000900|2017-08-16|        1|          GROCERY I|         64|
|3000901|2017-08-16|        1|         GROCERY II|          0|
|3000902|2017-08-16|        1|           HARDWARE|          0|
|3000903|2017-08-16|        1| HOME AND KITCHEN I|          2|
|3000904|2017-08-16|        1|HOME AND KITCHEN II|          6|
|3000905|2017-08-16|        1|    HOME APPLIANCES|          0|
|3000906|2017-08-16|        1|          HOME CARE|         10|
|3000907|2017-08-16|        1|         LADIESWEAR|          0|
+-------+----------+---------+-------------------+-----------+
only showing top 20 rows

In [210]:
#Desde aqui son comandos basicos.
df_train.printSchema()

root
 |-- id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- family: string (nullable = true)
 |-- sales: double (nullable = true)
 |-- onpromotion: integer (nullable = true)

In [211]:
df_train.columns

['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion']

In [212]:
df_train.select(["id", "date"])

DataFrame[id: int, date: date]

In [213]:
df_train.select(["id", "date"]).show()

+---+----------+
| id|      date|
+---+----------+
|  0|2013-01-01|
|  1|2013-01-01|
|  2|2013-01-01|
|  3|2013-01-01|
|  4|2013-01-01|
|  5|2013-01-01|
|  6|2013-01-01|
|  7|2013-01-01|
|  8|2013-01-01|
|  9|2013-01-01|
| 10|2013-01-01|
| 11|2013-01-01|
| 12|2013-01-01|
| 13|2013-01-01|
| 14|2013-01-01|
| 15|2013-01-01|
| 16|2013-01-01|
| 17|2013-01-01|
| 18|2013-01-01|
| 19|2013-01-01|
+---+----------+
only showing top 20 rows

In [214]:
df_train.dtypes

[('id', 'int'),
 ('date', 'date'),
 ('store_nbr', 'int'),
 ('family', 'string'),
 ('sales', 'double'),
 ('onpromotion', 'int')]

In [215]:
df_train.describe()

DataFrame[summary: string, id: string, store_nbr: string, family: string, sales: string, onpromotion: string]

In [216]:
#A partir de aqui es manipulación básica
df_train = df_train.withColumn("Onpromotion tras 2 años", df_train["onpromotion"]+2)

In [217]:
df_train.show()

+---+----------+---------+-------------------+-----+-----------+-----------------------+
| id|      date|store_nbr|             family|sales|onpromotion|Onpromotion tras 2 años|
+---+----------+---------+-------------------+-----+-----------+-----------------------+
|  0|2013-01-01|        1|         AUTOMOTIVE|  0.0|          0|                      2|
|  1|2013-01-01|        1|          BABY CARE|  0.0|          0|                      2|
|  2|2013-01-01|        1|             BEAUTY|  0.0|          0|                      2|
|  3|2013-01-01|        1|          BEVERAGES|  0.0|          0|                      2|
|  4|2013-01-01|        1|              BOOKS|  0.0|          0|                      2|
|  5|2013-01-01|        1|       BREAD/BAKERY|  0.0|          0|                      2|
|  6|2013-01-01|        1|        CELEBRATION|  0.0|          0|                      2|
|  7|2013-01-01|        1|           CLEANING|  0.0|          0|                      2|
|  8|2013-01-01|        1|              DAIRY|  0.0|          0|                      2|
|  9|2013-01-01|        1|               DELI|  0.0|          0|                      2|
| 10|2013-01-01|        1|               EGGS|  0.0|          0|                      2|
| 11|2013-01-01|        1|       FROZEN FOODS|  0.0|          0|                      2|
| 12|2013-01-01|        1|          GROCERY I|  0.0|          0|                      2|
| 13|2013-01-01|        1|         GROCERY II|  0.0|          0|                      2|
| 14|2013-01-01|        1|           HARDWARE|  0.0|          0|                      2|
| 15|2013-01-01|        1| HOME AND KITCHEN I|  0.0|          0|                      2|
| 16|2013-01-01|        1|HOME AND KITCHEN II|  0.0|          0|                      2|
| 17|2013-01-01|        1|    HOME APPLIANCES|  0.0|          0|                      2|
| 18|2013-01-01|        1|          HOME CARE|  0.0|          0|                      2|
| 19|2013-01-01|        1|         LADIESWEAR|  0.0|          0|                      2|
+---+----------+---------+-------------------+-----+-----------+-----------------------+
only showing top 20 rows

In [218]:
df_train.drop("Onpromotion tras 2 años").show()

+---+----------+---------+-------------------+-----+-----------+
| id|      date|store_nbr|             family|sales|onpromotion|
+---+----------+---------+-------------------+-----+-----------+
|  0|2013-01-01|        1|         AUTOMOTIVE|  0.0|          0|
|  1|2013-01-01|        1|          BABY CARE|  0.0|          0|
|  2|2013-01-01|        1|             BEAUTY|  0.0|          0|
|  3|2013-01-01|        1|          BEVERAGES|  0.0|          0|
|  4|2013-01-01|        1|              BOOKS|  0.0|          0|
|  5|2013-01-01|        1|       BREAD/BAKERY|  0.0|          0|
|  6|2013-01-01|        1|        CELEBRATION|  0.0|          0|
|  7|2013-01-01|        1|           CLEANING|  0.0|          0|
|  8|2013-01-01|        1|              DAIRY|  0.0|          0|
|  9|2013-01-01|        1|               DELI|  0.0|          0|
| 10|2013-01-01|        1|               EGGS|  0.0|          0|
| 11|2013-01-01|        1|       FROZEN FOODS|  0.0|          0|
| 12|2013-01-01|        1|          GROCERY I|  0.0|          0|
| 13|2013-01-01|        1|         GROCERY II|  0.0|          0|
| 14|2013-01-01|        1|           HARDWARE|  0.0|          0|
| 15|2013-01-01|        1| HOME AND KITCHEN I|  0.0|          0|
| 16|2013-01-01|        1|HOME AND KITCHEN II|  0.0|          0|
| 17|2013-01-01|        1|    HOME APPLIANCES|  0.0|          0|
| 18|2013-01-01|        1|          HOME CARE|  0.0|          0|
| 19|2013-01-01|        1|         LADIESWEAR|  0.0|          0|
+---+----------+---------+-------------------+-----+-----------+
only showing top 20 rows

In [219]:
#version de train al que le añadi espacios vacios para simular nans
df_train_null = spark.read.csv("../data/raw/train(null).csv", header=True, inferSchema=True)

In [220]:
df_train_null.show()

+---+----------+---------+-------------------+-----+-----------+
| id|      date|store_nbr|             family|sales|onpromotion|
+---+----------+---------+-------------------+-----+-----------+
|  0|2013-01-01|        1|         AUTOMOTIVE|  0.0|          0|
|  1|2013-01-01|     NULL|          BABY CARE| NULL|          0|
|  2|      NULL|        1|             BEAUTY| NULL|       NULL|
|  3|2013-01-01|        1|          BEVERAGES| NULL|       NULL|
|  4|2013-01-01|        1|               NULL| NULL|       NULL|
|  5|2013-01-01|     NULL|       BREAD/BAKERY| NULL|          0|
|  6|2013-01-01|     NULL|               NULL|  0.0|       NULL|
|  7|2013-01-01|        1|               NULL|  0.0|          0|
|  8|      NULL|        1|               NULL|  0.0|          0|
|  9|      NULL|     NULL|               DELI| NULL|       NULL|
| 10|2013-01-01|        1|               EGGS|  0.0|          0|
| 11|2013-01-01|        1|       FROZEN FOODS|  0.0|          0|
| 12|2013-01-01|        1|          GROCERY I|  0.0|          0|
| 13|2013-01-01|        1|         GROCERY II|  0.0|          0|
| 14|2013-01-01|        1|           HARDWARE|  0.0|          0|
| 15|2013-01-01|        1| HOME AND KITCHEN I|  0.0|          0|
| 16|2013-01-01|        1|HOME AND KITCHEN II|  0.0|          0|
| 17|2013-01-01|        1|    HOME APPLIANCES|  0.0|          0|
| 18|2013-01-01|        1|          HOME CARE|  0.0|          0|
| 19|2013-01-01|        1|         LADIESWEAR|  0.0|          0|
+---+----------+---------+-------------------+-----+-----------+
only showing top 20 rows

In [221]:
df_train_null.select([count(when(isnull(c), c)).alias(c) for c in df_train_null.columns]).show()

+---+----+---------+------+-----+-----------+
| id|date|store_nbr|family|sales|onpromotion|
+---+----+---------+------+-----+-----------+
|  0|   3|        4|     4|    6|          5|
+---+----+---------+------+-----+-----------+

In [222]:
#Con tresh le decimos cuantos valores NO NULOS queremos tener en las filas.
#Por ejemplo, si de las 6 columnas, 2 son nan, y le pedimos que el tresh sea 3 (minimo 3 valores no null), mantendra esas filas.
df_train_null.na.drop(how="any",thresh=6).show()

+---+----------+---------+--------------------+-----+-----------+
| id|      date|store_nbr|              family|sales|onpromotion|
+---+----------+---------+--------------------+-----+-----------+
|  0|2013-01-01|        1|          AUTOMOTIVE|  0.0|          0|
| 10|2013-01-01|        1|                EGGS|  0.0|          0|
| 11|2013-01-01|        1|        FROZEN FOODS|  0.0|          0|
| 12|2013-01-01|        1|           GROCERY I|  0.0|          0|
| 13|2013-01-01|        1|          GROCERY II|  0.0|          0|
| 14|2013-01-01|        1|            HARDWARE|  0.0|          0|
| 15|2013-01-01|        1|  HOME AND KITCHEN I|  0.0|          0|
| 16|2013-01-01|        1| HOME AND KITCHEN II|  0.0|          0|
| 17|2013-01-01|        1|     HOME APPLIANCES|  0.0|          0|
| 18|2013-01-01|        1|           HOME CARE|  0.0|          0|
| 19|2013-01-01|        1|          LADIESWEAR|  0.0|          0|
| 20|2013-01-01|        1|     LAWN AND GARDEN|  0.0|          0|
| 21|2013-01-01|        1|            LINGERIE|  0.0|          0|
| 22|2013-01-01|        1|    LIQUOR,WINE,BEER|  0.0|          0|
| 23|2013-01-01|        1|           MAGAZINES|  0.0|          0|
| 24|2013-01-01|        1|               MEATS|  0.0|          0|
| 25|2013-01-01|        1|       PERSONAL CARE|  0.0|          0|
| 26|2013-01-01|        1|        PET SUPPLIES|  0.0|          0|
| 27|2013-01-01|        1|PLAYERS AND ELECT...|  0.0|          0|
| 28|2013-01-01|        1|             POULTRY|  0.0|          0|
+---+----------+---------+--------------------+-----+-----------+
only showing top 20 rows

In [223]:
df_train_null.na.drop(how="any",subset=["onpromotion"]).show()

+---+----------+---------+-------------------+-----+-----------+
| id|      date|store_nbr|             family|sales|onpromotion|
+---+----------+---------+-------------------+-----+-----------+
|  0|2013-01-01|        1|         AUTOMOTIVE|  0.0|          0|
|  1|2013-01-01|     NULL|          BABY CARE| NULL|          0|
|  5|2013-01-01|     NULL|       BREAD/BAKERY| NULL|          0|
|  7|2013-01-01|        1|               NULL|  0.0|          0|
|  8|      NULL|        1|               NULL|  0.0|          0|
| 10|2013-01-01|        1|               EGGS|  0.0|          0|
| 11|2013-01-01|        1|       FROZEN FOODS|  0.0|          0|
| 12|2013-01-01|        1|          GROCERY I|  0.0|          0|
| 13|2013-01-01|        1|         GROCERY II|  0.0|          0|
| 14|2013-01-01|        1|           HARDWARE|  0.0|          0|
| 15|2013-01-01|        1| HOME AND KITCHEN I|  0.0|          0|
| 16|2013-01-01|        1|HOME AND KITCHEN II|  0.0|          0|
| 17|2013-01-01|        1|    HOME APPLIANCES|  0.0|          0|
| 18|2013-01-01|        1|          HOME CARE|  0.0|          0|
| 19|2013-01-01|        1|         LADIESWEAR|  0.0|          0|
| 20|2013-01-01|        1|    LAWN AND GARDEN|  0.0|          0|
| 21|2013-01-01|        1|           LINGERIE|  0.0|          0|
| 22|2013-01-01|        1|   LIQUOR,WINE,BEER|  0.0|          0|
| 23|2013-01-01|        1|          MAGAZINES|  0.0|          0|
| 24|2013-01-01|        1|              MEATS|  0.0|          0|
+---+----------+---------+-------------------+-----+-----------+
only showing top 20 rows

In [224]:
df_train_null.na.fill("Missing Values",["family"]).show()

+---+----------+---------+-------------------+-----+-----------+
| id|      date|store_nbr|             family|sales|onpromotion|
+---+----------+---------+-------------------+-----+-----------+
|  0|2013-01-01|        1|         AUTOMOTIVE|  0.0|          0|
|  1|2013-01-01|     NULL|          BABY CARE| NULL|          0|
|  2|      NULL|        1|             BEAUTY| NULL|       NULL|
|  3|2013-01-01|        1|          BEVERAGES| NULL|       NULL|
|  4|2013-01-01|        1|     Missing Values| NULL|       NULL|
|  5|2013-01-01|     NULL|       BREAD/BAKERY| NULL|          0|
|  6|2013-01-01|     NULL|     Missing Values|  0.0|       NULL|
|  7|2013-01-01|        1|     Missing Values|  0.0|          0|
|  8|      NULL|        1|     Missing Values|  0.0|          0|
|  9|      NULL|     NULL|               DELI| NULL|       NULL|
| 10|2013-01-01|        1|               EGGS|  0.0|          0|
| 11|2013-01-01|        1|       FROZEN FOODS|  0.0|          0|
| 12|2013-01-01|        1|          GROCERY I|  0.0|          0|
| 13|2013-01-01|        1|         GROCERY II|  0.0|          0|
| 14|2013-01-01|        1|           HARDWARE|  0.0|          0|
| 15|2013-01-01|        1| HOME AND KITCHEN I|  0.0|          0|
| 16|2013-01-01|        1|HOME AND KITCHEN II|  0.0|          0|
| 17|2013-01-01|        1|    HOME APPLIANCES|  0.0|          0|
| 18|2013-01-01|        1|          HOME CARE|  0.0|          0|
| 19|2013-01-01|        1|         LADIESWEAR|  0.0|          0|
+---+----------+---------+-------------------+-----+-----------+
only showing top 20 rows

In [225]:
df_train_null.na.fill(0,["sales"]).show()

+---+----------+---------+-------------------+-----+-----------+
| id|      date|store_nbr|             family|sales|onpromotion|
+---+----------+---------+-------------------+-----+-----------+
|  0|2013-01-01|        1|         AUTOMOTIVE|  0.0|          0|
|  1|2013-01-01|     NULL|          BABY CARE|  0.0|          0|
|  2|      NULL|        1|             BEAUTY|  0.0|       NULL|
|  3|2013-01-01|        1|          BEVERAGES|  0.0|       NULL|
|  4|2013-01-01|        1|               NULL|  0.0|       NULL|
|  5|2013-01-01|     NULL|       BREAD/BAKERY|  0.0|          0|
|  6|2013-01-01|     NULL|               NULL|  0.0|       NULL|
|  7|2013-01-01|        1|               NULL|  0.0|          0|
|  8|      NULL|        1|               NULL|  0.0|          0|
|  9|      NULL|     NULL|               DELI|  0.0|       NULL|
| 10|2013-01-01|        1|               EGGS|  0.0|          0|
| 11|2013-01-01|        1|       FROZEN FOODS|  0.0|          0|
| 12|2013-01-01|        1|          GROCERY I|  0.0|          0|
| 13|2013-01-01|        1|         GROCERY II|  0.0|          0|
| 14|2013-01-01|        1|           HARDWARE|  0.0|          0|
| 15|2013-01-01|        1| HOME AND KITCHEN I|  0.0|          0|
| 16|2013-01-01|        1|HOME AND KITCHEN II|  0.0|          0|
| 17|2013-01-01|        1|    HOME APPLIANCES|  0.0|          0|
| 18|2013-01-01|        1|          HOME CARE|  0.0|          0|
| 19|2013-01-01|        1|         LADIESWEAR|  0.0|          0|
+---+----------+---------+-------------------+-----+-----------+
only showing top 20 rows