In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan, when, count, col, isnull
from pyspark.ml.feature import Imputer

In [9]:
spark = SparkSession.builder.appName("practica").getOrCreate()

In [10]:
df_train = spark.read.csv("../data/raw/train.csv", header=True, inferSchema=True)

In [11]:
df_train.filter("onpromotion>=10").show()

+------+----------+---------+---------+--------+-----------+
|    id|      date|store_nbr|   family|   sales|onpromotion|
+------+----------+---------+---------+--------+-----------+
|814350|2014-04-03|        9|     DELI|602.9347|         56|
|814351|2014-04-03|        9|     EGGS|   136.0|         20|
|814365|2014-04-03|        9|    MEATS|404.3831|         19|
|814369|2014-04-03|        9|  POULTRY|685.4219|         20|
|826824|2014-04-10|        9|     DELI|488.5654|         56|
|826825|2014-04-10|        9|     EGGS|   199.0|         18|
|826839|2014-04-10|        9|    MEATS| 354.483|         18|
|826843|2014-04-10|        9|  POULTRY|567.8412|         17|
|828609|2014-04-11|        9|GROCERY I|3728.643|         12|
|835044|2014-04-15|       39|GROCERY I|3484.952|         10|
|836826|2014-04-16|       39|GROCERY I|3482.206|         10|
|837846|2014-04-17|       18|     DELI|136.3545|         50|
|837847|2014-04-17|       18|     EGGS|   112.0|         19|
|837861|2014-04-17|       18|    MEATS|162.8255|         19|
|837865|2014-04-17|       18|  POULTRY|165.4432|         19|
|838209|2014-04-17|       28|     DELI| 216.381|         50|
|838210|2014-04-17|       28|     EGGS|   159.0|         19|
|838224|2014-04-17|       28|    MEATS|119.0109|         17|
|838228|2014-04-17|       28|  POULTRY| 171.098|         16|
|838605|2014-04-17|       39|     DELI|150.1024|         42|
+------+----------+---------+---------+--------+-----------+
only showing top 20 rows

In [12]:
df_train.filter("onpromotion>=10").select(["family","sales"]).show()

+---------+--------+
|   family|   sales|
+---------+--------+
|     DELI|602.9347|
|     EGGS|   136.0|
|    MEATS|404.3831|
|  POULTRY|685.4219|
|     DELI|488.5654|
|     EGGS|   199.0|
|    MEATS| 354.483|
|  POULTRY|567.8412|
|GROCERY I|3728.643|
|GROCERY I|3484.952|
|GROCERY I|3482.206|
|     DELI|136.3545|
|     EGGS|   112.0|
|    MEATS|162.8255|
|  POULTRY|165.4432|
|     DELI| 216.381|
|     EGGS|   159.0|
|    MEATS|119.0109|
|  POULTRY| 171.098|
|     DELI|150.1024|
+---------+--------+
only showing top 20 rows

In [13]:
df_train.filter(~(df_train["onpromotion"]<=10)).show()

+------+----------+---------+---------+--------+-----------+
|    id|      date|store_nbr|   family|   sales|onpromotion|
+------+----------+---------+---------+--------+-----------+
|814350|2014-04-03|        9|     DELI|602.9347|         56|
|814351|2014-04-03|        9|     EGGS|   136.0|         20|
|814365|2014-04-03|        9|    MEATS|404.3831|         19|
|814369|2014-04-03|        9|  POULTRY|685.4219|         20|
|826824|2014-04-10|        9|     DELI|488.5654|         56|
|826825|2014-04-10|        9|     EGGS|   199.0|         18|
|826839|2014-04-10|        9|    MEATS| 354.483|         18|
|826843|2014-04-10|        9|  POULTRY|567.8412|         17|
|828609|2014-04-11|        9|GROCERY I|3728.643|         12|
|837846|2014-04-17|       18|     DELI|136.3545|         50|
|837847|2014-04-17|       18|     EGGS|   112.0|         19|
|837861|2014-04-17|       18|    MEATS|162.8255|         19|
|837865|2014-04-17|       18|  POULTRY|165.4432|         19|
|838209|2014-04-17|       28|     DELI| 216.381|         50|
|838210|2014-04-17|       28|     EGGS|   159.0|         19|
|838224|2014-04-17|       28|    MEATS|119.0109|         17|
|838228|2014-04-17|       28|  POULTRY| 171.098|         16|
|838605|2014-04-17|       39|     DELI|150.1024|         42|
|838606|2014-04-17|       39|     EGGS|   295.0|         20|
|838620|2014-04-17|       39|    MEATS| 149.466|         16|
+------+----------+---------+---------+--------+-----------+
only showing top 20 rows

In [14]:
df_train.filter((df_train["onpromotion"]>=10) & (df_train["onpromotion"]<=20)).show()

+------+----------+---------+---------+--------+-----------+
|    id|      date|store_nbr|   family|   sales|onpromotion|
+------+----------+---------+---------+--------+-----------+
|814351|2014-04-03|        9|     EGGS|   136.0|         20|
|814365|2014-04-03|        9|    MEATS|404.3831|         19|
|814369|2014-04-03|        9|  POULTRY|685.4219|         20|
|826825|2014-04-10|        9|     EGGS|   199.0|         18|
|826839|2014-04-10|        9|    MEATS| 354.483|         18|
|826843|2014-04-10|        9|  POULTRY|567.8412|         17|
|828609|2014-04-11|        9|GROCERY I|3728.643|         12|
|835044|2014-04-15|       39|GROCERY I|3484.952|         10|
|836826|2014-04-16|       39|GROCERY I|3482.206|         10|
|837847|2014-04-17|       18|     EGGS|   112.0|         19|
|837861|2014-04-17|       18|    MEATS|162.8255|         19|
|837865|2014-04-17|       18|  POULTRY|165.4432|         19|
|838210|2014-04-17|       28|     EGGS|   159.0|         19|
|838224|2014-04-17|       28|    MEATS|119.0109|         17|
|838228|2014-04-17|       28|  POULTRY| 171.098|         16|
|838606|2014-04-17|       39|     EGGS|   295.0|         20|
|838620|2014-04-17|       39|    MEATS| 149.466|         16|
|838624|2014-04-17|       39|  POULTRY|167.5024|         20|
|839299|2014-04-17|        9|     EGGS|   353.0|         18|
|839313|2014-04-17|        9|    MEATS|272.4773|         18|
+------+----------+---------+---------+--------+-----------+
only showing top 20 rows

In [15]:
df_train.filter((df_train["onpromotion"]>=10) & (df_train["onpromotion"]<=20)).select(["family","sales"]).show()

+---------+--------+
|   family|   sales|
+---------+--------+
|     EGGS|   136.0|
|    MEATS|404.3831|
|  POULTRY|685.4219|
|     EGGS|   199.0|
|    MEATS| 354.483|
|  POULTRY|567.8412|
|GROCERY I|3728.643|
|GROCERY I|3484.952|
|GROCERY I|3482.206|
|     EGGS|   112.0|
|    MEATS|162.8255|
|  POULTRY|165.4432|
|     EGGS|   159.0|
|    MEATS|119.0109|
|  POULTRY| 171.098|
|     EGGS|   295.0|
|    MEATS| 149.466|
|  POULTRY|167.5024|
|     EGGS|   353.0|
|    MEATS|272.4773|
+---------+--------+
only showing top 20 rows

In [16]:
df_train.groupBy("family").sum().show()

+-------------------+------------+--------------+--------------------+----------------+
|             family|     sum(id)|sum(store_nbr)|          sum(sales)|sum(onpromotion)|
+-------------------+------------+--------------+--------------------+----------------+
|     PREPARED FOODS|136445512284|       2500740|   8799895.116942495|           37524|
|HOME AND KITCHEN II|136444330116|       2500740|           1520670.0|           32814|
|         LADIESWEAR|136444602924|       2500740|            651159.0|            1680|
|    LAWN AND GARDEN|136444693860|       2500740|            548842.0|           11208|
|          GROCERY I|136443966372|       2500740|3.4346273488600004E8|         1914801|
|          BABY CARE|136442966076|       2500740|             10051.0|              53|
|            PRODUCE|136445603220|       2500740|   1.2270468467646E8|         1117921|
|         AUTOMOTIVE|136442875140|       2500740|            554822.0|            4783|
|          BEVERAGES|136443147948|       2500740|        2.16954486E8|          906958|
|          HOME CARE|136444511988|       2500740|         1.6022744E7|          197230|
|       BREAD/BAKERY|136443329820|       2500740|   4.2133945576369E7|          331289|
|              BOOKS|136443238884|       2500740|              6438.0|               0|
|           LINGERIE|136444784796|       2500740|            653114.0|            2815|
|        CELEBRATION|136443420756|       2500740|            761177.0|            6723|
|         GROCERY II|136444057308|       2500740|           1962767.0|            7347|
|              DAIRY|136443602628|       2500740|         6.4487709E7|          728707|
|          MAGAZINES|136444966668|       2500740|            266359.0|             297|
|            SEAFOOD|136445785092|       2500740|     2015431.8828236|           39052|
|   LIQUOR,WINE,BEER|136444875732|       2500740|           7746640.0|           46700|
| HOME AND KITCHEN I|136444239180|       2500740|           1861491.0|           46921|
+-------------------+------------+--------------+--------------------+----------------+
only showing top 20 rows

In [17]:
df_train.groupBy("onpromotion").count().show()

+-----------+-------+
|onpromotion|  count|
+-----------+-------+
|          0|2389559|
|        148|     48|
|         31|   2452|
|        137|     75|
|         65|    720|
|         53|   1360|
|        133|     93|
|        155|     29|
|        108|    133|
|         34|   2041|
|        101|    153|
|        126|    127|
|         28|   2824|
|         26|   2772|
|         27|   2862|
|         44|   1658|
|        192|     43|
|        103|    145|
|         12|   9655|
|         91|    185|
+-----------+-------+
only showing top 20 rows

In [18]:
df_train.agg({"sales":"sum"}).show()

+--------------------+
|          sum(sales)|
+--------------------+
|1.0736449522030698E9|
+--------------------+

In [19]:
df_train.groupBy("family").max().show()

+-------------------+-------+--------------+----------+----------------+
|             family|max(id)|max(store_nbr)|max(sales)|max(onpromotion)|
+-------------------+-------+--------------+----------+----------------+
|     PREPARED FOODS|3000884|            54|   912.568|              14|
|HOME AND KITCHEN II|3000871|            54|    1568.0|              20|
|         LADIESWEAR|3000874|            54|     147.0|              19|
|    LAWN AND GARDEN|3000875|            54|     712.0|              15|
|          GROCERY I|3000867|            54|  124717.0|             741|
|          BABY CARE|3000856|            54|     116.0|               1|
|            PRODUCE|3000885|            54| 17850.615|             252|
|         AUTOMOTIVE|3000855|            54|     255.0|               8|
|          BEVERAGES|3000858|            54|   25413.0|             342|
|          HOME CARE|3000873|            54|    2504.0|              71|
|       BREAD/BAKERY|3000860|            54|  4551.298|             104|
|              BOOKS|3000859|            54|      51.0|               0|
|           LINGERIE|3000876|            54|    1059.0|              12|
|        CELEBRATION|3000861|            54|    1783.0|              14|
|         GROCERY II|3000868|            54|    2931.0|               7|
|              DAIRY|3000863|            54|    5636.0|             167|
|          MAGAZINES|3000878|            54|      79.0|               6|
|            SEAFOOD|3000887|            54|    274.44|               7|
|   LIQUOR,WINE,BEER|3000877|            54|    4821.0|              27|
| HOME AND KITCHEN I|3000870|            54|    1935.0|              31|
+-------------------+-------+--------------+----------+----------------+
only showing top 20 rows